html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    margin: 28px 0;
}
/* HOME PAGE */

.table thead th{
    color: #fff;
    background-color: #007bff;
}
.delete-btn{
    background-color: transparent;
    border: none;
}

.check-icon{
    color: #49c049;
    margin-right: 5px;
}

.delete-icon{
    color: red;
}

